<div class="container">
  <div class="title_head"><h3>Imperial Plating Company</h3></div>
    <div class="paragraph_body">
      <p>Imperial Plating is a recognized leader in the metal finishing industry, striving towards excellence in quality and complete customer satisfaction. The Imperial Plating difference is to combine innovative finishing technologies in an environmentally responsible way. Our unmatched teamwork, superior workmanship and commitment to on-time delivery make Imperial an unbeatable source for all your finishing requirements.
      <br><br>
      See why Imperial Plating's metal finishing plant is the first choice of many manufacturers for their surface finishing needs. Throughout every aspect of the production process, you'll find an attention to detail and a commitment to quality that is unrivaled in the industry</p>
    </div>
      <div class="side_image">
        <%= image_tag("screws.jpg", width: '40%', height: '40%') %>
      </div>
</div>
