@import "materialize";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  font-family: 'Oswald', sans-serif;
}

body {
  background-color: #0d47a0;
}

// HOME PAGE

.container {
  color: #0d47a0;
  background-color: white;
  width: 75%;
  height: 500px;
  clear: both;
  padding-top: 15px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;

}

.title_head {
  color: white;
  background-color: #0d47a0;
  width: 45%;
  margin-left: 0px;
  padding-left: 10px;
  padding: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0px;
}

.paragraph_body {
  color: white;
  font-size: 16px;
  background-color: #0d47a0;
  width: 55%;
  float: right;
  padding: 20px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 5px;
}

.side_image {
  margin-top: 35px;
  // margin-left: 20px;
}
